In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("data/gt_test.csv")
train = pd.read_csv("data/train_data.csv")

In [3]:
print(test.shape)
test.head()

(482, 2)

,processed_text,label
0,здравствуйте рузан этот ээ шарна этот мы с вам...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,добрый день подскажите пожалуйста меня интерес...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
2,эта либергенерация чипиейная линии клиент зову...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,здравствуйте соедините пожалуйста единого счет...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,здравствуйте меня зовут NAME там еще ивакина д...,"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."

In [4]:
type(test.iloc[0].label)

str

In [5]:
import ast

print(len(test.iloc[0].processed_text.split()))
print(len(ast.literal_eval(test.iloc[0].label)))

93
93

In [6]:
print(train.shape)
train.head()

(3399, 2)

,processed_text,target_labels_positions
0,аа союзная тридцать пять дробь один лариса сое...,{}
1,аа приложение мне показывает к оплате у меня п...,{}
2,да лисное по призрак лишнее ну почему иду пять...,"{'I-value': [140], 'B-value': [139], 'B-discou..."
3,а что добрый день NAME у меня пришел какой то ...,{'B-discount': [12]}
4,у меня западный с утра да да еще да да самый в...,{}

In [30]:
label2id = {
    "O": 0,
    "B-discount": 1,
    "B-value": 2,
    "I-value": 3
}

id2label = {
    0: "O",
    1: "B-discount",
    2: "B-value",
    3: "I-value"
}

In [23]:
import ast


def get_labels(row):
    label = ["O"] * len(row.processed_text.split())

    if row.target_labels_positions == {}:
        return str(label)
    else:
        for item in ast.literal_eval(row.target_labels_positions).items():
            for value in item[1]:
                label[value] = item[0]
    return str(label)

In [24]:
train["label"] = train.apply(get_labels, axis=1)
train.head()

,processed_text,target_labels_positions,label
0,аа союзная тридцать пять дробь один лариса сое...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,аа приложение мне показывает к оплате у меня п...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
2,да лисное по призрак лишнее ну почему иду пять...,"{'I-value': [140], 'B-value': [139], 'B-discou...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,а что добрый день NAME у меня пришел какой то ...,{'B-discount': [12]},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,у меня западный с утра да да еще да да самый в...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."

In [27]:
train.iloc[2].label

"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-discount', 'B-value', 'I-value', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"

In [28]:
def get_labels_id(label):
    label_list = ast.literal_eval(label)
    label_id = []
    for el in label_list:
        label_id.append(label2id[el])
    return str(label_id)

In [31]:
train["label_ids"] = train.label.apply(get_labels_id)
train.head()

,processed_text,target_labels_positions,label,label_ids
0,аа союзная тридцать пять дробь один лариса сое...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,аа приложение мне показывает к оплате у меня п...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,да лисное по призрак лишнее ну почему иду пять...,"{'I-value': [140], 'B-value': [139], 'B-discou...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,а что добрый день NAME у меня пришел какой то ...,{'B-discount': [12]},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,у меня западный с утра да да еще да да самый в...,{},"['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [32]:
train.to_csv("data/train_data_label.csv", index=False)

In [50]:
from sklearn.metrics import f1_score

trues = [0] * 300 + [1, 2, 3]
preds = [0] * 303


def f1(trues, preds):
    weights = {
        1: 1,
        2: 2,
        3: 2,
        0: 0.003
    }
    samples_weight = []
    for t in trues:
        samples_weight.append(weights[t])

    score = f1_score(
        trues, preds, sample_weight=samples_weight, average="weighted")
    return score


f1(trues, preds)

0.040378863409770746